[Desktop Entry]
Encoding=UTF-8
Type=MimeType
Hidden=false
Icon=fidonet
MimeType=message/jam
Patterns=*.jdt;*.jdx;*.jhr;*.jlr
Comment=Fidonet JAM message base
Comment[ru]=База сообщений в формате JAM
